@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Tajawal:wght@300;400;500;700&display=swap');

:root {
  --navy-dark: #002D6E;     /* Cobalt Blue Background */
  --navy-light: #0047AB;    /* Cobalt Blue for Cards */
  --fikra-orange: #F39C12;
  --text-light: #E6F1FF;
  --text-secondary: #a8b2d1;
  --mdc-protected-button-container-color: var(--fikra-orange);
  --mdc-protected-button-label-text-color: #000000;
}

html, body { height: 100%; }

body {
  margin: 0;
  background-color: var(--navy-dark) !important;
  color: var(--text-light) !important;
  font-family: 'Poppins', 'Tajawal', sans-serif;
}

.interactive-item {
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  cursor: pointer;
}

.interactive-item:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 20px rgba(243, 156, 18, 0.2);
}

// Styles for our custom success snackbar
.snackbar-success {
  --mdc-snackbar-container-color: #28a745; // A nice green color
  --mat-mdc-snack-bar-button-color: #ffffff;
  --mdc-snackbar-supporting-text-color: #ffffff;
}

// Styles for our custom error snackbar
.snackbar-error {
  --mdc-snackbar-container-color: #dc3545; // A standard red color for errors
  --mat-mdc-snack-bar-button-color: #ffffff;
  --mdc-snackbar-supporting-text-color: #ffffff;
}