# This file tells gcloud to ignore these files and folders when deploying.

# Python specific
__pycache__/
*.pyc

# Virtual Environment
.venv/

# Database file - we will use a fresh one in the cloud
fikra_app.db

# Git files
.git
.gitignore