# FastAPI and Server
fastapi==0.115.12
uvicorn==0.34.3
gunicorn # <-- This was the missing package

# Database
SQLAlchemy==2.0.41
psycopg2-binary==2.9.10

# Security
passlib[bcrypt]
python-jose[cryptography]

# AI and Data
google-generativeai==0.8.5
numpy==2.2.6
arabic_reshaper
python-bidi

# PDF Generation
fpdf2

# Pydantic and dependencies
pydantic==2.11.5
annotated-types==0.7.0
typing_extensions==4.14.0
