# FastAPI and Server
fastapi==0.115.12
uvicorn==0.34.3
gunicorn

# Database
SQLAlchemy==2.0.41
pg8000 # <-- This is the correct package name for the PostgreSQL driver

# Security (Pinned versions for stability)
passlib==1.7.4
bcrypt==4.1.3
python-jose[cryptography]

# AI and Data
google-generativeai==0.8.5
numpy==2.2.6
arabic_reshaper
python-bidi

# PDF Generation
fpdf2

# Pydantic and dependencies
pydantic==2.11.5
annotated-types==0.7.0
typing_extensions==4.14.0
