<div class="stats-container">
  <a mat-stroked-button routerLink="/main" class="back-button">
    <mat-icon>arrow_back</mat-icon>
    <span i18n>Back to Home</span>
  </a>
  <h1 i18n>Application Statistics</h1>

  <div class="chart-wrapper">
    <h2 i18n>Ideas by Department</h2>
    <canvas baseChart class="chart"
      [data]="barChartData"
      [options]="barChartOptions"
      [type]="barChartType">
    </canvas>
  </div>

  <div class="chart-wrapper">
    <h2 i18n>Ideas by Classification</h2>
    <canvas baseChart class="chart"
      [data]="pieChartData"
      [options]="pieChartOptions"
      [type]="pieChartType"
      [plugins]="pieChartPlugins"> <!-- This line was added -->
    </canvas>
  </div>

  <div class="chart-wrapper">
    <h2 i18n>Ideas by Category</h2>
    <canvas baseChart class="chart"
      [data]="doughnutChartData"
      [options]="doughnutChartOptions"
      [type]="doughnutChartType"
      [plugins]="doughnutChartPlugins">
    </canvas>
  </div>

</div>